WebService+Servlet/NetSix/NetSixClient/src/conf/xml-resources/web-service-references/NetSixWS/wsdl/localhost_8080/NetSix/NetSixWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tsdw.dmi/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tsdw.dmi/" name="NetSixWS">
<types>
<xsd:schema>
<xsd:import namespace="http://tsdw.dmi/" schemaLocation="http://localhost:8080/NetSix/NetSixWS?xsd=1"/>
</xsd:schema>
</types>
<message name="getDisponibilita">
<part name="parameters" element="tns:getDisponibilita"/>
</message>
<message name="getDisponibilitaResponse">
<part name="parameters" element="tns:getDisponibilitaResponse"/>
</message>
<message name="fillArrSerie">
<part name="parameters" element="tns:fillArrSerie"/>
</message>
<message name="fillArrSerieResponse">
<part name="parameters" element="tns:fillArrSerieResponse"/>
</message>
<message name="fillArrEpisodi">
<part name="parameters" element="tns:fillArrEpisodi"/>
</message>
<message name="fillArrEpisodiResponse">
<part name="parameters" element="tns:fillArrEpisodiResponse"/>
</message>
<portType name="NetSixWS">
<operation name="getDisponibilita">
<input wsam:Action="http://tsdw.dmi/NetSixWS/getDisponibilitaRequest" message="tns:getDisponibilita"/>
<output wsam:Action="http://tsdw.dmi/NetSixWS/getDisponibilitaResponse" message="tns:getDisponibilitaResponse"/>
</operation>
<operation name="fillArrSerie">
<input wsam:Action="http://tsdw.dmi/NetSixWS/fillArrSerieRequest" message="tns:fillArrSerie"/>
<output wsam:Action="http://tsdw.dmi/NetSixWS/fillArrSerieResponse" message="tns:fillArrSerieResponse"/>
</operation>
<operation name="fillArrEpisodi">
<input wsam:Action="http://tsdw.dmi/NetSixWS/fillArrEpisodiRequest" message="tns:fillArrEpisodi"/>
<output wsam:Action="http://tsdw.dmi/NetSixWS/fillArrEpisodiResponse" message="tns:fillArrEpisodiResponse"/>
</operation>
</portType>
<binding name="NetSixWSPortBinding" type="tns:NetSixWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getDisponibilita">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="fillArrSerie">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="fillArrEpisodi">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="NetSixWS">
<port name="NetSixWSPort" binding="tns:NetSixWSPortBinding">
<soap:address location="http://localhost:8080/NetSix/NetSixWS"/>
</port>
</service>
</definitions>